- @no_container = true
- page_title "Edit", @tag.name, "Tags"
= render "projects/commits/head"

%div{ class: container_class }
  .sub-header-block.no-bottom-space
    .oneline
      .title
        Release notes for tag
        %strong= @tag.name


  = form_for(@release, method: :put, url: namespace_project_tag_release_path(@project.namespace, @project, @tag.name), html: { class: 'form-horizontal common-note-form release-form js-quick-submit' }) do |f|
    = render layout: 'projects/md_preview', locals: { url: preview_markdown_path(@project), referenced_users: true } do
      = render 'projects/zen', f: f, attr: :description, classes: 'note-textarea', placeholder: "Write your release notes or drag files here..."
      = render 'projects/notes/hints'
    .error-alert
    .prepend-top-default
      = f.submit 'Save changes', class: 'btn btn-save'
      = link_to "Cancel", namespace_project_tag_path(@project.namespace, @project, @tag.name), class: "btn btn-default btn-cancel"
