.block.assignee
  .title.hide-collapsed
    Assignee
    - if can?(current_user, :admin_issue, @project)
      = icon("spinner spin", class: "block-loading")
      = link_to "Edit", "#", class: "edit-link pull-right"
  .value.hide-collapsed
    %span.assign-yourself.no-value{ "v-if" => "!issue.assignee" }
      No assignee
      - if can?(current_user, :admin_issue, @project)
        \-
        %a.js-assign-yourself{ href: "#" }
          assign yourself
    %a.author_link.bold{ ":href" => "'#{root_url}' + issue.assignee.username",
      "v-if" => "issue.assignee" }
      %img.avatar.avatar-inline.s32{ ":src" => "issue.assignee.avatar",
        width: "32", alt: "Avatar" }
      %span.author
        {{ issue.assignee.name }}
      %span.username
        = precede "@" do
          {{ issue.assignee.username }}
  - if can?(current_user, :admin_issue, @project)
    .selectbox.hide-collapsed
      %input{ type: "hidden",
        name: "issue[assignee_id]",
        id: "issue_assignee_id",
        ":value" => "issue.assignee.id",
        "v-if" => "issue.assignee" }
      .dropdown
        %button.dropdown-menu-toggle.js-user-search.js-author-search.js-issue-board-sidebar{ type: "button", data: { toggle: "dropdown", field_name: "issue[assignee_id]", first_user: (current_user.username if current_user), current_user: "true", project_id: @project.id, null_user: "true", null_user_default: "true" },
          ":data-issuable-id" => "issue.id",
          ":data-selected" => "assigneeId",
          ":data-issue-update" => "'#{namespace_project_issues_path(@project.namespace, @project)}/' + issue.id + '.json'" }
          Select assignee
          = icon("chevron-down")
        .dropdown-menu.dropdown-menu-user.dropdown-menu-selectable.dropdown-menu-author
          = dropdown_title("Assign to")
          = dropdown_filter("Search users")
          = dropdown_content
          = dropdown_loading
