.note-edit-form
  = form_tag '#', method: :put, class: 'edit-note common-note-form js-quick-submit' do
    = hidden_field_tag :target_id, '', class: 'js-form-target-id'
    = hidden_field_tag :target_type, '', class: 'js-form-target-type'
    = render layout: 'projects/md_preview', locals: { url: preview_markdown_path(project), referenced_users: true } do
      = render 'projects/zen', attr: 'note[note]', classes: 'note-textarea js-note-text js-task-list-field', placeholder: "Write a comment or drag your files here..."
      = render 'projects/notes/hints'

    .note-form-actions.clearfix
      .settings-message.note-edit-warning.js-finish-edit-warning
        Finish editing this message first!
      = submit_tag 'Save comment', class: 'btn btn-nr btn-save js-comment-button'
      %button.btn.btn-nr.btn-cancel.note-edit-cancel{ type: 'button' }
        Cancel
