.row.prepend-top-default
  .col-lg-3.settings-sidebar
    %h4.prepend-top-0
      Members
    - if can?(current_user, :admin_project_member, @project)
      %p
        Add a new member to
        %strong= @project.name
    - else
      %p
        Members can be added by project
        %i Masters
        or
        %i Owners
  .col-lg-9
    .light.prepend-top-default
      - if can?(current_user, :admin_project_member, @project)
        = render "projects/project_members/new_project_member"

        = render 'shared/members/requests', membership_source: @project, requesters: @requesters
        .append-bottom-default.clearfix
          %h5.member.existing-title
            Existing members and groups
        - if @group_links.any?
          = render 'projects/project_members/groups', group_links: @group_links

    = render 'projects/project_members/team', members: @project_members
    = paginate @project_members, theme: "gitlab"
