= form_for [@project.namespace.becomes(Namespace), @project, @milestone], html: {class: 'form-horizontal milestone-form common-note-form js-quick-submit js-requires-input'}  do |f|
  = form_errors(@milestone)
  .row
    .col-md-6
      .form-group
        = f.label :title, "Title", class: "control-label"
        .col-sm-10
          = f.text_field :title, maxlength: 255, class: "form-control", required: true, autofocus: true
      .form-group.milestone-description
        = f.label :description, "Description", class: "control-label"
        .col-sm-10
          = render layout: 'projects/md_preview', locals: { url: preview_markdown_path(@project) } do
            = render 'projects/zen', f: f, attr: :description, classes: 'note-textarea', placeholder: 'Write milestone description...'
            = render 'projects/notes/hints'
          .clearfix
          .error-alert
    = render "shared/milestones/form_dates", f: f

  .form-actions
    - if @milestone.new_record?
      = f.submit 'Create milestone', class: "btn-create btn"
      = link_to "Cancel", namespace_project_milestones_path(@project.namespace, @project), class: "btn btn-cancel"
    - else
      = f.submit 'Save changes', class: "btn-save btn"
      = link_to "Cancel", namespace_project_milestone_path(@project.namespace, @project, @milestone), class: "btn btn-cancel"
